body, html, #root {
  width: 100%;
  height: 100%;
  font-family: Montserrat; }

.app {
  width: 100%;
  height: 100%; }
  .app .loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 0.8;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .app .content {
    background-image: url("/image/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100% - 100px); }
  .app .layout-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .app .layout-modal .modal {
      position: relative;
      width: 500px;
      border-radius: 6px;
      background-color: #ffffff;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (max-width: 473px) {
        .app .layout-modal .modal {
          width: 380px; } }
      @media (max-width: 376px) {
        .app .layout-modal .modal {
          width: 330px; } }
      @media (max-width: 321px) {
        .app .layout-modal .modal {
          width: 300px; } }
      .app .layout-modal .modal .close-button {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer; }
      .app .layout-modal .modal .icon {
        margin-top: 30px; }
      .app .layout-modal .modal p {
        margin: 0; }
      .app .layout-modal .modal .description-bottom {
        margin-top: 20px; }
        .app .layout-modal .modal .description-bottom.step2 {
          margin-bottom: 50px; }
        .app .layout-modal .modal .description-bottom.step1 {
          padding-left: 70px;
          padding-right: 70px; }
          @media (max-width: 473px) {
            .app .layout-modal .modal .description-bottom.step1 {
              padding-left: 10px;
              padding-right: 10px; } }
          @media (max-width: 376px) {
            .app .layout-modal .modal .description-bottom.step1 {
              padding-left: 5px;
              padding-right: 5px; } }
      .app .layout-modal .modal .button-container {
        margin-bottom: 30px; }
      .app .layout-modal .modal .text {
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a; }
        .app .layout-modal .modal .text.title {
          padding-top: 30px;
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase; }
        .app .layout-modal .modal .text.subtitle {
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .app .layout-modal .modal .text.color {
          font-size: 16px;
          font-weight: bold;
          color: #238cfd; }
        .app .layout-modal .modal .text.description {
          font-size: 14px; }
        .app .layout-modal .modal .text.padding {
          margin-top: 10px;
          margin-bottom: 10px; }
  .app .logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; }
    .app .logo img {
      height: 40px; }
  .app .form-container {
    width: 500px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 473px) {
      .app .form-container {
        width: 400px; } }
    @media (max-width: 376px) {
      .app .form-container {
        width: 350px; } }
    @media (max-width: 321px) {
      .app .form-container {
        width: 300px; } }
    .app .form-container .input {
      width: calc(100% - 40px);
      border-radius: 6px;
      background-color: #ffffff;
      padding: 15px 20px;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9b9b9b; }
      @media (max-width: 376px) {
        .app .form-container .input {
          font-size: 12px; } }
      .app .form-container .input:focus {
        outline: none !important; }
      .app .form-container .input.step2 {
        margin-top: 30px; }
    .app .form-container .text-container {
      margin-top: 5px;
      text-align: center; }
      .app .form-container .text-container .text {
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 15px; }
        .app .form-container .text-container .text.link {
          color: #ffaa38; }
        .app .form-container .text-container .text.description {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.5; }
          @media (max-width: 376px) {
            .app .form-container .text-container .text.description {
              font-size: 12px; } }
      .app .form-container .text-container.step2 {
        padding-left: 20px;
        padding-right: 20px; }
    .app .form-container .error {
      margin-top: 10px;
      margin-bottom: 10px;
      color: red;
      font-size: 14px;
      text-align: center; }
  .app .button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px; }
    .app .button-container .btn {
      width: 210px;
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
      border-radius: 6px;
      outline: none !important;
      border-style: none !important;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase; }
      @media (max-width: 376px) {
        .app .button-container .btn {
          font-size: 12px; } }
      .app .button-container .btn.submit {
        background-color: #48c4a1;
        color: #ffffff; }
      .app .button-container .btn.skip {
        margin-left: 10px;
        background-color: #ff6057;
        color: #ffffff; }
    .app .button-container.step2 {
      margin-top: 30px; }
  .app .step-container {
    padding-top: 80px;
    display: flex;
    justify-content: center; }
    .app .step-container .pointer {
      width: 250px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("/image/arrow.svg");
      background-size: cover;
      background-repeat: no-repeat; }
      @media (max-width: 473px) {
        .app .step-container .pointer {
          width: 200px;
          height: 36px; } }
      @media (max-width: 376px) {
        .app .step-container .pointer {
          width: 175px;
          height: 31px; } }
      @media (max-width: 321px) {
        .app .step-container .pointer {
          width: 150px;
          height: 27px; } }
      .app .step-container .pointer.active {
        background-image: url("/image/arrow-active.svg"); }
        .app .step-container .pointer.active span {
          color: #ffffff; }
      .app .step-container .pointer span {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        color: #238cfd; }
        @media (max-width: 376px) {
          .app .step-container .pointer span {
            font-size: 14px; } }
        @media (max-width: 376px) {
          .app .step-container .pointer span {
            font-size: 12px; } }

/*# sourceMappingURL=layout.css.map */
