@import "./mixin";
body, html, #root {
  width: 100%;
  height: 100%;
  font-family: Montserrat;
;
}
.app {
  width: 100%;
  height: 100%;
  .loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 0.8;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    background-image: url("/image/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100% - 100px);
  }
  .layout-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0,0,0, 0.8);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .modal {
      position: relative;
      width: 500px;
      border-radius: 6px;
      background-color: #ffffff;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include medium-mobile {
        width: 380px;
      }
      @include mobile-small {
        width: 330px;
      }
      @include mobile-very-small {
        width: 300px;
      }
      .close-button {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
      }
      .icon {
        margin-top: 30px;
      }
      p {
        margin: 0;
      }
      .description-bottom {
        margin-top: 20px;
        &.step2 {
          margin-bottom: 50px;
        }
        &.step1 {
          padding-left: 70px;
          padding-right: 70px;
          @include medium-mobile{
            padding-left: 10px;
            padding-right: 10px;
          }
          @include mobile-small{
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
      .button-container {
        margin-bottom: 30px;
      }
      .text {
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;
        &.title {
          padding-top: 30px;
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase;
        }
        &.subtitle {
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 20px;

        }
        &.color {
          font-size: 16px;
          font-weight: bold;
          color: #238cfd;
        }
        &.description {
          font-size: 14px;
        }
        &.padding {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    img {
      height: 40px;
    }
  }
  .form-container {
    width: 500px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    @include medium-mobile {
      width: 400px;
    }
    @include mobile-small {
      width: 350px;
    }
    @include mobile-very-small {
      width: 300px;
    }
    .input {
      width: calc(100% - 40px);
      border-radius: 6px;
      background-color: #ffffff;
      padding: 15px 20px;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9b9b9b;
      @include mobile-small {
        font-size: 12px;
      }
      &:focus {
        outline: none !important;
      }
      &.step2 {
        margin-top: 30px;
      }
    }
    .text-container {
      margin-top: 5px;
      text-align: center;
      .text {
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 15px;
        &.link {
          color: #ffaa38;
        }
        &.description {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.5;
          @include mobile-small {
            font-size: 12px;
          }
        }
      }
      &.step2 {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .error {
      margin-top: 10px;
      margin-bottom: 10px;
      color: red;
      font-size: 14px;
      text-align: center;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    .btn {
      width: 210px;
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
      border-radius: 6px;
      outline: none !important;
      border-style: none !important;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      @include mobile-small {
        font-size: 12px;
      }
      &.submit {
        background-color: #48c4a1;
        color: #ffffff;
      }
      &.skip {
        margin-left: 10px;
        background-color: #ff6057;
        color: #ffffff;
      }
    }
    &.step2 {
      margin-top: 30px;
    }
  }
  .step-container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    .pointer {
      width: 250px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("/image/arrow.svg");
      background-size: cover;
      background-repeat: no-repeat;
      @include medium-mobile {
        width: 200px;
        height: 36px;
      }
      @include mobile-small {
        width: 175px;
        height: 31px;
      }
      @include mobile-very-small {
        width: 150px;
        height: 27px;
      }
      &.active {
        background-image: url("/image/arrow-active.svg");
        span {
          color: #ffffff;
        }
      }
      span {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        color: #238cfd;
        @include mobile-small {
          font-size: 14px;
        }
        @include mobile-small {
          font-size: 12px;
        }
      }
    }
  }

}
